@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.btn {
    
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    line-height: auto;
    letter-spacing: 0%;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* navbar style */

.navbar {
    display: flex;
    height: 94px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.navbar h1 {
    color: #ffffff;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 34px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}



/* hero section */

.hero-container {
    min-height: 760px;
    width: 100%;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* center image box */
.box {
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

/* circle */
.circel {
    position: absolute;
    height: 100%;
    width: 100%;
}

.circel img {
    width: 100%;
    height: auto;
}

/* microphone */
.mic {
    position: absolute;
}

.mic img {
    width: 90px;
    height: auto;
}

/* title text */
.title h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 12px;
}

.title p {
    color: #cfcfcf;
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto 24px;
}

/* buttons */
.secondary-btn{
    background-color: transparent;
    border:1px solid green;
    color: green;
    padding: 12px 16px;
    border-radius: 100px;
}



@media (max-width:768px) {

    .box{
        width: 260px;
        height: 260px;
    }
    .mic img{
        width: 60px;

    }
    
}