@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

/* shared style */
.btn {

    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    line-height: auto;
    letter-spacing: 0%;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* navbar style */

.navbar {
    display: flex;
    height: 74px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-logo img {
    padding-left: 10px;
}

.navbar h1 {
    color: #ffffff;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 34px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.nav-container hr {
    border: 1px solid #1a0b2ef5;

}




/* hero section */

.hero-container {
    height: 750px;
    width: 100%;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.box {
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.circel {
    position: absolute;
    height: 100%;
    width: 100%;
}

.circel img {
    width: 100%;
    height: auto;
}

.mic {
    position: absolute;
}

.mic img {
    width: 90px;
    height: auto;
    animation: smoothRotate 7s linear infinite;
}

@keyframes smoothRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


.title h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 12px;
}

.title p {
    color: #cfcfcf;
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto 24px;
}

.praimary-btn {
    padding: 14px 28px;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 14px 28px;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.secondary-btn:hover {
    background-color: #00ff8863;
    color: #00FF88;
}

.secondary-btn img {
    padding-top: 2px;
    align-items: center;
    text-align: center;
}

#badge {
    z-index: 1;
    border: none;
    background-color: #00FF88;
    color: #000000d0;
    padding: 8px 16px 8px 16px;
    margin-top: -250px;
    margin-left: 290px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: var(--#00FF88, rgba(0, 255, 136, 1));
    width: 75px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 8px 16px 8px 16px;


}



/* about section */

.about {
    height: 450px;
    width: 100%;
    background-color: #1A0B2E;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.about-title {
    align-items: center;
    text-align: center;
    height: 300px;
    width: 1200px;
}



.about-title p {
    margin-top: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 300;
    color: #ffffffcc;
}

.about-card {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
    margin-top: 60px;

}

.about-card h1 {
    color: #00FF88;
    text-align: center;
}

.about-card p {
    color: #ffffffcc;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0%;
    margin-top: 16px;
    text-align: center;


}

.about hr {
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
    opacity: 0.1;
    width: 1200px;
    height: 0;

}

/* feature section */

.features {
    background-color: #230E3D;
    color: white;

}

.features h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
}

.card-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
    padding-top: 40px;
    padding: 40px 150px 150px 150px;
}

.feature-1 {
    grid-row: span 2;
}

.feature-2,
.feature-3,
.feature-4 {
    grid-column: span 2;

}

.feature-4,
.feature-5 {
    height: 250px;
}

.card-container div {
    background-color: #35116546;
    box-shadow: #1a0b2e1a;
    border-radius: 40px;
    padding: 40px;



}

.card-container h3 {
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
}

.card-container p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 300;
    color: #ffffff81;

}

.card-container img {
    height: 50px;
    width: 50px;
}

.feature-2 img {
    height: 70px;
    width: 50px;
}

/* episod section */

.vedio {
    width: 100%;
    display: flex;
    height: 600px;
    justify-content: center;
    background-color: #1A0B2E;


}



#ep-titel {
    color: #ffffff;
    text-align: center;
    height: 58px;
    font-size: 48px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ep-cont {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}


.ep-vedio iframe {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
}

.ep-title {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    color: #FFFFFF;
    height: 220px;
    width: 340px;
    background-color: #250D44;
    padding: 24px;
    border-radius: 0 0 15px 15px;
}

.ep-title h1 {
    font-size: 24px;
    letter-spacing: 0%;
    font-weight: 500;
}

.ep-title p {
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff81;
    padding-top: 15px;
}

.ep-title h4 {
    font-size: 16px;
    font-weight: 400;
    color: #00FF88;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding-bottom: 0%;
}

.ep-vedio {
    height: 200px;
    width: 340px;
    position: relative;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.ep-vedio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {

    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    font-size: 2.5rem;
}

.ep-vedio iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

/* host */


.host {
    display: flex;
    flex-direction: column;
    height: 576px;
    justify-content: center;
    align-items: center;
    background-color: #1A0B2E;
    color: #ffffff;
    width: 100%;

}

.host h1 {
    text-align: center;
    margin-bottom: 40px;
}

.host-content {
    display: flex;
    padding: 30px;
    background-color: #35116542;
    width: 1200px;
    border-radius: 15px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.host-img {
    height: 150px;
    width: 320px;
}

.host-img img {
    height: 100%;
    width: 100%;
}


.social {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    margin-left: 20px;
}

.social-icon {
    border: 1px solid rgba(83, 60, 114, 1);
    height: 17px;
    width: 17px;
    border-radius: 999px;
    padding: 7px;
    margin-top: 10px;


}

.social-icon img {
    height: 95%;
    width: 95%;
}

.icon-img h2 {
    font-size: 32px;
    letter-spacing: 0%;
    font-weight: 400;
    padding: 0 20px;
}

.icon-img p {
    font-size: 16px;
    letter-spacing: 0%;
    font-weight: 300;
    line-height: 24px;
    padding: 0 20px;
    color: #ffffff8c;
}



/* footer section */


.footer {
    height: auto !important;
    width: 100%;
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h1 {
    margin-top: 20px;
}

.footer-content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 300px;
}

.footer-content ul a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff81;

}

.footer-content li {
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-content ul {
    display: flex;
    gap: 20px;

}

.footer-content ul img {
    height: 20px;
    width: 20px;

}

.footer-content p {
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff81;
    margin-top: 70px;
    margin-bottom: -100px;
}

/* responsive design for mobile device */


@media screen and (max-width: 576px) {

    .flex {
        display: none;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 40px;
        left: 0;
    }

    .nav-links,
    #subsc {
        display: none;

    }


    .menu-toggle {
        color: #FFFFFF;
        display: block !important;
    }



    .navbar {
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .nav-logo img {
        width: 150px;
    }

    #badge {
        padding: 4px 8px 4px 8px;
        margin-top: -140px;
        margin-left: 180px;
        font-size: 18px;
        font-weight: 500;
        height: 31px;
        width: 60px;
        padding: 8px 16px 8px 16px;
    }

    /* hero */

    .btn {
        padding: 14px 10px;
    }

    .secondary-btn {
        padding: 14px 16px;
    }

    .hero-container {
        height: 600px;
    }




    .box {
        width: 200px;
        height: 200px;
    }

    .mic img {
        width: 60px;

    }

    .title p {
        max-width: 385px;
        margin: 0 auto 24px;
    }

    /* about */

    .about {

        height: auto;
        width: 100%;
        background-color: #1A0B2E;
        color: #ffffff;
        display: flex;
    }

    .about-title p {
        padding: 30px;
    }



    .about-title h1 {
        font-size: 1.5rem;
    }

    .about-title {

        width: 400px;
        height: 350px;
        align-items: center;
        text-align: center;

    }

    .about hr {
        width: 380px;
        margin-top: 50px;

    }




    .about-card {
        display: grid;
        height: auto;
        padding-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);

    }

    .features h1 {
        display: flex;
        align-items: flex-start;
        text-align: start;
        padding-top: 50px;
    }

    .card-container {
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 380px);
        padding: 25px;
    }

    .feature-1,
    .feature-2,
    .feature-3,
    .feature-4,
    .feature-5 {
        width: 270px;
        height: auto;
        margin-left: 30px;
    }

    .vedio {
        height: 1400px;
        display: flex;
        justify-content: center;
        background-color: #1A0B2E;


    }

    .ep-cont {
        justify-content: flex-start;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }


    #ep-titel {
        font-size: 36px;
        font-weight: 600;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .ep-vedio {
        height: 180px;
        width: 350px;

    }

    .ep-title {
        height: 220px;
        width: 350px;
        padding: 10px;
    }

    .ep-title h4 {
        margin-top: 35px;
    }

    .ep-title h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .host {
        height: 700px;
        justify-content: center;
        color: #ffffff;

    }


    .host-content {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 500px;
    }


    .icon-img h2 {
        margin-bottom: 15px;
        font-size: 22px;
        padding: 0 20px;
    }

    .host-img {
        margin-bottom: 35px;
        height: 150px;
        width: 150px;
    }


    /* footer */

    .footer {
        height: auto !important;
        min-height: 300px;
        width: 100%;
        background-image: url(../image/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;

    }

    .footer-content {
        margin-top: -120px;
    }


    .footer h1 {
        font-size: 32px;
    }

    .footer-content #footer-logo {
        width: 150px;
        height: 25px;
        margin-top: 30px;
        padding-bottom: -20px;

    }

    .f-logo {
        margin-bottom: -30px;
    }

    .footer-content ul {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        grid-template-rows: repeat(2, 25px);


    }

    .footer-content li {
        margin-top: 45px;
        height: 20px;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
        padding: 10px;

    }

    .footer-content ul img {
        height: 18px;
        width: 18px;

    }

    .footer-content p {
        margin-top: 90px;
        margin-bottom: -130px;
    }







}