@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.btn {

    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    line-height: auto;
    letter-spacing: 0%;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* navbar style */

.navbar {
    display: flex;
    height: 94px;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.navbar h1 {
    color: #ffffff;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 34px;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}



/* hero section */

.hero-container {
    min-height: 760px;
    width: 100%;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.box {
    height: 350px;
    width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.circel {
    position: absolute;
    height: 100%;
    width: 100%;
}

.circel img {
    width: 100%;
    height: auto;
}

.mic {
    position: absolute;
}

.mic img {
    width: 90px;
    height: auto;
}

.title h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 12px;
}

.title p {
    color: #cfcfcf;
    font-size: 16px;
    max-width: 520px;
    margin: 0 auto 24px;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid green;
    color: green;
    padding: 12px 16px;
    border-radius: 100px;
}



/* about section */

.about {
    height: 646px;
    background-color: #1A0B2E;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.about-title {
    align-items: center;
    text-align: center;
    height: 200px;
    width: 1200px;
}
.about-title h1{
    margin-top: -100px;
}

.about-title p {
    margin-top: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 300;
    color: #ffffffcc;
}

.about-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 60px;

}

.about-card h1 {
    color: #00FF88;
    text-align: center;
}

.about-card p {
    color: #ffffffcc;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0%;
    margin-top: 16px;
    text-align: center;


}

.about hr {
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
    opacity: 0.1;
    width: 1200px;
    height: 0;

}

/* feature section */

.features {
    background-color: #230E3D;
    color: white;

}

.features h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
}

.card-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
    padding-top: 40px;
    padding: 40px 200px 200px 200px;
}

.feature-1 {
    grid-row: span 2;
}

.feature-2,
.feature-3,
.feature-4 {
    grid-column: span 2;
    
}

.feature-4, .feature-5{
    height: 250px;
}
.card-container div {
    background-color: #35116546;
    box-shadow: #1a0b2e1a;
    border-radius: 40px;
    padding: 40px;
   
    

}

.card-container h3{
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0%;
}

.card-container p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 300;
    color: #ffffff81;

}

.card-container img {
    height: 50px;
    width: 50px;
}

.feature-2 img{
    height: 70px;
    width: 50px;
}




@media (max-width:768px) {

    .box {
        width: 260px;
        height: 260px;
    }

    .mic img {
        width: 60px;

    }

}